
#star_wars_app {
  font-size: 16px ;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 24px;
  display: flex;
  width: 500px;
  height: 500px;
  border: #e7bc2a solid 1px ;
  border-radius: 10px;
  display: flex;
  margin: 82px auto 32px;

}
