.movie_app_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.details_container {
  border-left: #e7bc2a solid 1px ;
  background: #000000;
  color: #e7bc2a;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.movies_title_container {
  width:210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.movies_item {
  font-weight: bold;
  cursor: pointer;
  width: 190px;
}

.title {
  border-bottom: #e7bc2a solid 1px ;
  padding: 10px;
}

.description {
  padding: 10px;
}

.release_date {
  border-top: #e7bc2a solid 1px ;
  padding: 10px;
}
