<div class="movie_app_container">
  <div class="movies_title_container">

    <div *ngIf="this.movieService.loading" class="loading"> Loading</div>
    <div  *ngFor="let movie of movies$ | async" >
          <div class="movies_item" (click)="selectMovie(movie)">{{ movie.title }}</div>
      </div>
  </div>

  <div class="details_container">
    <div *ngIf="selectedMovie">
      <div class="title">{{selectedMovie.title}}</div>
      <div class="description">{{ selectedMovie.opening_crawl }}</div>
      <div class="release_date">{{selectedMovie.release_date.slice(5).replace('-','/') + "/" + selectedMovie.release_date.slice(0,4)}}</div>
    </div>

  </div>
</div>
